<h1>Editing Paper</h1>

<%= render 'form', paper: @paper %>
<!--
<%# <select multiple size="6">
    <option value="American">American flamingo</option>
    <option value="Andean">Andean flamingo</option>
    <option value="Chilean">Chilean flamingo</option>
    <option value="Greater">Greater flamingo</option>
    <option value="James's">James's flamingo</option>
    <option value="Lesser">Lesser flamingo</option>
</select> %>-->


<%= link_to 'Show', @paper %> |
<%= link_to 'Back', papers_path %>
